#pic1 {
    grid-area: pic1;
}

#art1 {
    grid-area: art1;
    background-image: url(../img/coral_reef.jpg);
    background-size: cover;
    background-position-y: center;

    display: flex;
    justify-content: right;
    align-items: center;
}

#pic2 {
    grid-area: pic2;
}

#art2 {
    grid-area: art2;
    background-image: url(../img/forest_landscape.jpg);
    background-size: cover;
    background-position-y: center;

    display: flex;
    justify-content: left;
    align-items: center;
}

#pic3 {
    grid-area: pic3;
}

#art3 {
    grid-area: art3;
    background-image: url(../img/sunset.jpg);
    background-size: cover;
    background-position-y: center;

    display: flex;
    justify-content: right;
    align-items: center;
}

.main_article {
    background-color: white;
    padding: 20px;
}

.picture_div {
    overflow: hidden;
}

.subject_pictures {
    display: flex;
    justify-self: center;
}

#sec {
    grid-area: sec;
    display: flex;
    align-items: center;
    background-color: rgb(223, 191, 159);
}

.sec_article {
    box-sizing: border-box;
    height: 90%;
    overflow: hidden;
    background-color: white;

    border: 5px solid rgb(191, 128, 64);
    border-radius: 10px;
}

.sec_article[hidden = false] {
    display: block;
}

.sec_article[hidden = true] {
    display: none;
}

.sec_article img {
    height: 50%;
    width: auto;
}

.sec_article a, .sec_article p {
    margin-left: 10px;
    margin-right: 10px;
    margin-block-start: 0px;
    margin-block-end: 10px;
}

.sec_article a h3 {
    margin: 0px;
}

.sec_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: large;
}

.sec_button[hidden="true"] {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.sec_button[hidden="false"] {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

@media screen and (max-width: 500px) {
    #grid {
        position: relative;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh auto auto auto auto auto auto 70vh;
        grid-template-areas:
        'hed'
        'pic1'
        'art1'
        'pic2'
        'art2'
        'pic3'
        'art3'
        'sec';
    }

    .main_article {
        border-width: 0px;
        border-top: 3px;
        border-bottom: 5px;
        border-color: rgb(191, 128, 64);
        border-style: solid;
    }

    .subject_pictures {
        width: 100%;
        height: auto;
    }

    .sec_article {
        width: 70vw;
        margin: 0px 15vw 0px 15vw;
    }

    .sec_button {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        bottom: calc(35vh - 20px);
    }

    #atr_button_l {
        left: calc(7.5vw - 20px);
    }
    
    #atr_button_r {
        right: calc(7.5vw - 20px);
    }
}

@media screen and (min-width: 501px) {
    #grid {
        position: relative;
        display: grid;
        grid-template-columns: 30vw 1fr 30vw;
        grid-template-rows: 15vh 60vh 60vh 60vh 80vh;
        grid-template-areas:
        'hed nav nav'
        'art1 art1 pic1'
        'pic2 art2 art2'
        'art3 art3 pic3'
        'sec sec sec';
    }

    .main_article {
        height: calc(80% - 40px);
        width: calc(85% - 40px);
        margin: 3vw;
        border-radius: 20px;
    }

    .subject_pictures {
        height: 100%;
        width: auto;
    }

    #pic1, #art2, #pic3 {
        border-width: 0px;
        border-bottom: 7px;
        border-left: 2.5px;
        border-style: solid;
        border-color: rgb(191, 128, 64);
    }
    
    #art1, #pic2, #art3 {
        border-width: 0px;
        border-bottom: 7px;
        border-right: 2.5px;
        border-style: solid;
        border-color: rgb(191, 128, 64);
    }

    .sec_article {
        width: 18vw;
        margin: 1vw;
    }

    .sec_button {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        bottom: calc(40vh - 15px);
        transition: all 0.3s;
    }

    .sec_button:hover {
        bottom: calc(40vh - 25px);
        height: 50px;
        width: 50px;
        border-radius: 25px;
        font-size: xx-large;
    }

    .sec_button:hover[hidden="true"] {
        cursor: not-allowed;
        bottom: calc(40vh - 15px);
        height: 30px;
        width: 30px;
        border-radius: 15px;
        font-size: large;
    }

    #atr_button_l {
        left: 5px;
    }
    
    #atr_button_r {
        right: 5px;
    }
}