body {
    margin: 0px;
}

/*Hide scrollbar for IE, Edge and Firefox*/
html {
    -ms-overflow-style: none;/*Internet Explorer and Edge*/
    scrollbar-width: none;/*Firefox*/
}

/*Hide scrollbar for Chrome, Safari and Opera GX*/
html::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 5vw;
    font-weight: 3vw;
}

h2 {
    font-size: x-large;
    font-weight: 600;
}

#hed {
    grid-area: hed;
}

#nav {
    grid-area: nav;
}