#sec {
    grid-area: sec;
    background: url(../img/home.jpg) no-repeat;    
    background-size: cover;
    background-position: 0px -150px;
}

#sec article {
    width: fit-content;
    height: fit-content;
    padding: 25px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

#ar1 {
    grid-area: ar1;
    padding: 20px;
}

#ar2 {
    grid-area: ar2;
    padding: 20px;
}

#asi {
    grid-area: asi;
}


@media screen and (min-width: 501px) {
    #grid {
        display: grid;
        grid-template-columns: 30vw 1fr 30vw;
        grid-template-rows: 15vh 85vh 40vh 40vh;
        grid-template-areas:
        'hed nav nav'
        'sec sec sec'
        'ar1 ar1 asi'
        'ar2 ar2 asi';
    }
}